#listaMenu
{

margin:0;
padding:0;
}


#listaMenu li
{
display:inline-block;
font-family:"NanumGothic";
padding:8px;
font-weight:bolder;
}   

.formataLista
{ 
width:100%;
padding:0;
margin:0;
list-style:none;


}


.formataLista li
{
cursor:pointer;
position:relative;
padding:5px;
transition:.3s;
border-bottom:2px solid #fff;
}

.btRemoveItem
{
width:35px;
height:35px;
position:absolute;
top:0;
right:0;
}

.btRealizaPesquisa
{
background:#fff;
font-family:"Padauk Book";
color:#000;
text-decoration:none;
padding:3px;
border-radius:5px;
display:inline-block;
margin:10px 0;
opacity:.8;
}

.btRealizaPesquisa:hover
{
opacity:1;
}

#boxAdNovoItem
{
margin-top:10px;
}

#txtNovoItemLista
{
width:300px;
}

#btAddNovoItemLista
{
padding:3px;
}

#btAddNovoItemLista:not(:disabled)
{
cursor:pointer;

}


.displayNone
{
display:none;
}

.opacityZero
{
opacity:0;
}

.opacityZeroPontoOito
{
opacity:0.8;
}


.opacityZeroPontoNove
{
opacity:0.9;
}

.cursorPointer
{
cursor:pointer; 
}

.txtItem
{
font-family:arial; 
margin:5px 0;
display:block;

}



.btRemoveItem
{
cursor:pointer;
}


.eleSelecionado
{
background:#2A64C0;
color:#fff;
}


.eleNaoSelecionado
{
background:#D2D3D5;
}

.fundoVerde
{
background:green;
}

.fundoAzul
{
background:#2A64C0;
}




@media screen and (max-width:450px)
{




    #boxAdNovoItem
    {
    
    width:100%;
    position:relative;
    text-align:center;
    }

#txtNovoItemLista
{
display:block;    
width:280px;
margin:5px auto;
}
    
#btAddNovoItemLista
{
padding:5px;
margin:5px 0;
width:100px;
}

}